{% extends 'partial/base.html' %}
{% block title %} CUSTOMER PAGE {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'partial/topnav_wm.html'%}

<div class="mx-5">
    <div class="row my-4">

      <!-- modal begin -->
        <div>
          <script>
            $(document).ready(function() {
              	$('#cAdd').modal('show');
            });
          </script>
        </div>

        <div class="modal fade" id="cAdd" tabindex="-1" role="dialog" aria-labelledby="cAddTitle" aria-hidden="true" class="modal hide fade in" data-keyboard="false" data-backdrop="static">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form method="POST">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <input class="btn btn-success btn-block" data-backdrop="static" type="submit" value="Add">
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col mt-4 text-right">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cAdd">
            Add <i class="fa fa-plus"></i>
          </button>
      </div>


        <!-- Modal end -->

        <div>
          <script>
              $(document).ready(function() {
              	$('#viewC-{{ customer.id}}').modal('show');
            });
          </script>
        </div>
        {% for customer in customers %}
        <div class="modal fade" id="viewC-{{ customer.id}}" tabindex="-1" role="dialog" aria-labelledby="viewTitle" aria-hidden="true" class="modal hide fade in" class="modal hide fade in" data-keyboard="false" data-backdrop="static">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Customer Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table>
                    <tr>
                      <th>customer_id</th>
                      <td>{{ customer.customer_id }}</td>
                    </tr>
                    <tr>
                      <th>customer_name</th>
                      <td>{{ customer.customer_name }}</td>
                    </tr>
                    <tr>
                      <th>Address</th>
                      <td>{{ customer.customer_address }}</td>
                    </tr>
                    <tr>
                      <th>Phone</th>
                      <td>{{ customer.customer_mobile }}</td>
                    </tr>
                  </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        
        <!-- modal end  -->
        <div class="col-md-12">
            <div class="tbl-header">
              <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                  <tr>
                    <th scope="col">customer_id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Contact</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="tbl-content">
              <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                  {% for customer in customers %}
                  <tr>
                    <td>{{ customer.customer_id }}</td>
                    <td>{{ customer.customer_name }}</td>
                    <td>{{ customer.customer_address }}</td>
                    <td>{{ customer.customer_mobile }}</td>
                    <td scope="row"><a class="btn btn-info btn-sm" data-toggle="modal" data-target="#viewC-{{ customer.id}}">View</a></td>
                    <td scope="row"><a class="btn btn-danger btn-sm" href="{% url 'dashboard-customer-delete' customer.id %}">Delete</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}