{% extends 'partial/base.html' %}
{% block title %} HOME PAGE {% endblock %}
{% block content %}

{% if user.is_authenticated and user.is_staff and user.is_superuser %}
{% include 'partial/topnav_wm.html' %}

<!-- graphs -->
<!-- 
<div class="container">
    <div class="row my-5">
        <div class="col-md-6">
            <div class="bg-white">
                <canvas id="myChart" width="400" height="300">

                    <script>
                        const ctx = document.getElementById('myChart').getContext('2d');
                        const myChart = new Chart(ctx, {
                            type: 'pie',
                            data: {
                                labels: [{% for order in orders %} '{{ order.product.name }}', {% endfor %}],
                                datasets: [{
                                    label: 'Orders',
                                    data: [{% for order in orders %} '{{ order.order_quantity }}', {% endfor%}],
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)',
                                        'rgba(235, 99, 132, 1)',
                                        'rgba(53, 162, 235, 1)',
                                        'rgba(225, 206, 86, 1)',
                                        'rgba(65, 192, 192, 1)',
                                        'rgba(133, 102, 255, 1)',
                                        'rgba(235, 159, 64, 1)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)',
                                        'rgba(235, 99, 132, 1)',
                                        'rgba(53, 162, 235, 1)',
                                        'rgba(225, 206, 86, 1)',
                                        'rgba(65, 192, 192, 1)',
                                        'rgba(133, 102, 255, 1)',
                                        'rgba(235, 159, 64, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    </script>
                </canvas>
                    
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-white">
                <canvas id="myChart1" width="400" height="300">
                    <script>
                        const ctx1 = document.getElementById('myChart1').getContext('2d');
                        const myChart1 = new Chart(ctx1, {
                            type: 'bar',
                            data: {
                                labels: [{% for product in products %}'{{ product.name }}',{% endfor %}],
                                datasets: [{
                                    label: 'Products',
                                    data: [{% for product in products %}'{{ product.quantity }}',{% endfor %}],
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)',
                                        'rgba(235, 99, 132, 1)',
                                        'rgba(53, 162, 235, 1)',
                                        'rgba(225, 206, 86, 1)',
                                        'rgba(65, 192, 192, 1)',
                                        'rgba(133, 102, 255, 1)',
                                        'rgba(235, 159, 64, 1)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)',
                                        'rgba(235, 99, 132, 1)',
                                        'rgba(53, 162, 235, 1)',
                                        'rgba(225, 206, 86, 1)',
                                        'rgba(65, 192, 192, 1)',
                                        'rgba(133, 102, 255, 1)',
                                        'rgba(235, 159, 64, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    </script>
                </canvas>
                    
            </div>
        </div>
    </div>
</div> -->
<!-- graphs -->
{% else %}
{% include 'dashboard/staff_index.html' %}
{% endif %}
{% endblock %}