
    <nav class="navbar navbar-expand-lg navbar-info bg-info">
        {% if user.is_authenticated %}
        <div class="container">

            <!-- modal begin -->
        <div>
            <script>
              $(document).ready(function() {
                    $('#cAdd').modal('show');
              });
            </script>
          </div>
  
          <div class="modal fade" id="cAdd" tabindex="-1" role="dialog" aria-labelledby="cAddTitle" aria-hidden="true" class="modal hide fade in" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Profile</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                          <th scope="row">Name</th>
                          <td>{{user.username}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Email</th>
                          <td>{{user.email}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Phone</th>
                          <td>{{user.profile.phone}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Address</th>
                          <td>{{user.profile.address}}</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          
  
  
          <!-- Modal end -->

            <a class="navbar-brand text-white" href="#">Inventory</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'dashboard-index' %}">Dashboard <span class="sr-only">(current)</span></a>
				</li>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="#">Report<span class="sr-only">(current)</span></a>
                </li>		
            </ul>

			<ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                <a class="nav-link text-white" data-toggle="modal" data-target="#cAdd"> {{ user.username }} Profile <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'user-logout' %}">Logout</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'user-register' %}"> Register<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'user-login' %}">Login</a>
                </li>
            </ul>
            </div>
        </div>
        {% endif %}
      </nav>
