	<!-- Topside -->

	<div class="mx-5">
        <div class="row mt-4">
            <div class="col-md-12">
				<div class="card">
					<div class="card-header bg-info text-white">
						STATICS
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-4">
								<a class="text-decoration-none text-dark" href="{% url 'stock' %}">
									<div class="card my-card shadow text-center p-3">
										<h4>STOCK <i class="fa fa-line-chart"></i></h4>
										<h3></h3>
									</div>
								</a>
							</div>
							<div class="col-md-4">
								<a class="text-decoration-none text-dark" href="#">
									<div class="card my-card shadow text-center p-3">
										<h4>PAYEMNTS <i class="fa fa-credit-card-alt"></i></h4>
										<h3></h3>
									</div>
								</a>
							</div>
							<div class="col-md-4">
								<a class="text-decoration-none text-dark" href="#">
									<div class="card my-card shadow text-center p-3">
										<h4>RETURNS <i class="fa fa-cart-arrow-down"></i></h4>
										<h3></h3>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        </div>
	</div>

	<!-- topside -->