{% extends 'partial/base.html' %}
{% block title %} LOGIN PAGE {% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

{% comment %} <div class="container">
    <div class="row mt-5 ">
        <div class="col-md-6 offset-md-3">
            {% for message in messages %}
            {% if message %}
            <div class="alert alert-{{message.tags }}">
                {{message   }}
            </div>
            {% endif %}
            {% endfor %}
            <div class="border bg-white p-3">
                <h3>LOGIN PAGE</h3>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="LOGIN" class="btn btn-success"/>
                    <a class = "mx-4" href="{% url 'password_reset' %}">Forget Password</a>
                </form>
            </div>
        </div>
    </div>
</div> {% endcomment %}

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="{% static 'images/img.webp' %}"
                alt="" class="img-fluid" style="border-radius: 1rem 0 0 1rem;height:650px;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form method="post">
                 {% csrf_token %}
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="h1 fw-bold mb-0"></span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                  <div class="form-outline mb-4">
                    <input type="text" name="username" id="form2Example17" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example17">Username</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" name="password" id="form2Example27" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example27">Password</label>
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                  </div>

                  <a class="small text-muted" href="{% url 'password_reset' %}">Forgot password?</a>
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a  href="{% url 'user-register' %}"
                      style="color: #393f81;">Register here</a></p>
                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}